<div class="register-component">
    <mat-card>
        <mat-card-header class="padding-m">
            <mat-card-title>Cadastro de Usuário</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Nome Completo</mat-label>
                <input matInput placeholder="Digite o seu nome completo">
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Digite o seu e-mail">
            </mat-form-field>
            <input-password-field></input-password-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="full-width">Cadastrar</button>
        </mat-card-actions>
    </mat-card>
</div>